<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis paquetes</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis paquetes</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-button expand="full"  (click)="mi_buzon()">Mi Buzon</ion-button>
<ion-button expand="full"  (click)="historial()">Historial</ion-button>
<ion-button expand="full"  (click)="cerrar_sesion()">Cerrar Sesion</ion-button>